html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "微软雅黑", "sans-serif";
}

.bg {
  width: 100vw;
  height: 100vh;
  background: url("../images/timg.jpg") left center no-repeat;
  background-size: cover;
}

.bg .keys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex: 1;
}

.key {
  border: .4rem solid rgba(0,0,0,0.4);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .15s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  box-shadow: 0 0 1rem rgba(0,0,0,0.4);
}

kbd {
  display: block;
  font-size: 4rem;
}

.playing {
  transform: scale(1.2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}